@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-body: #212121;
  --text: #f8f8ff;
  --forms: #0f172a;
  --button: #374151;
  --button-hover: #2c333d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-body);
  color: white;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
}

.forms {
  background-color: var(--forms);
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 100%;
  min-width: 700px;
}

.forms > label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

button {
  color: white;
  cursor: pointer;
  background-color: var(--button);
  padding: 0.5rem 0;
  border: none;
}

button:hover {
  background-color: var(--button-hover);
}

textarea {
  padding: 0.3rem;
}

// Page 1: Basic Info
.basic-info-fields-container {
  display: flex;
}
